<div class="container mt-4">

  <div class="container mt-4">

    <div class="row justify-content-between mb-3">
      <div class="col-6">
        <span class="fs-2 fw-medium" style="color: #6E6DE2;">Salas</span>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-lg btn-outline-info fw-medium"
          (click)="(modal1)">NOVO</button>
      </div>
    </div>
    <table class="table table-bordered rounded">
      <tbody class="fw-semibold rounded">
        <tr>
          <td class="text-start align-middle">SALA A</td>
          <td class="text-start align-middle" style="color: #6E6DE2;">13 ALUNOS</td>
          <td class="text-end align-middle">
            <a href="#" class="btn me-3" data-toggle="tooltip" title="Editar">
              <i class="bi bi-eye-fill fs-5" style="color: #6E6DE2;"></i>
            </a>
            <a class="btn me-5" data-toggle="tooltip" title="Excluir">
              <i class="bi bi-trash-fill fs-5 text-danger"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="text-start align-middle">SALA B</td>
          <td class="text-start align-middle" style="color: #6E6DE2;">24 ALUNOS</td>
          <td class="text-end align-middle">
            <a href="#" class="btn me-3" data-toggle="tooltip" title="Editar">
              <i class="bi bi-eye-fill fs-5" style="color: #6E6DE2;"></i>
            </a>
            <a class="btn me-5" data-toggle="tooltip" title="Excluir">
              <i class="bi bi-trash-fill fs-5 text-danger"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #modal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Nova Sala</h4>
      <button type="button" class="btn-close" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <!-- <div class="modal-body">
      <app-turmadetails [turma]="objetoSelecionadoParaEdicao" (retorno)="addOuEditar($event)"></app-turmadetails>
  </div> -->
  </ng-template>
